@page "/lieky"
@inject NisDbContext Db

<h3>Lieky</h3>

@if (items is null)
{
    <p>Načítavam...</p>
}
else
{
    <table class="table table-sm">
        <thead>
            <tr>
                <th>SUKL kód</th>
                <th>Názov</th>
                <th>ATC kód</th>
                <th>Výdaj</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var l in items)
            {
                <tr>
                    <td>@l.SUKL_KOD</td>
                    <td>@l.NAZOV</td>
                    <td>@l.ATC_KOD</td>
                    <td>@l.VYDAJ</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<N_LIEK>? items;

    protected override async Task OnInitializedAsync()
    {
        items = await Db.N_LIEKs.AsNoTracking().ToListAsync();
    }
}
