@using NIS.Components.Shared
@inherits LayoutComponentBase

<div class="nis-shell">
    <div class="nis-topbar">
        <NavMenu />
    </div>

    <main class="content">
        <div class="container container-nis py-3">
            @Body
        </div>
    </main>

    <FooterBar Connection="Oracle XE (XEPDB1)" Schema="NIS" />
</div>
