@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg app-navbar nis-topbar">
    <div class="container container-nis">
        <NavLink class="navbar-brand nis-brand" href="/" Match="NavLinkMatch.All">
            <span class="nis-logo">N</span>
            <span class="nis-brand-text">NIS</span>
        </NavLink>

        <button class="navbar-toggler" type="button"
                data-bs-toggle="collapse"
                data-bs-target="#nisNav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nisNav">
            <ul class="navbar-nav me-auto app-tabs">

                <!-- EVIDENCIA -->
                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Evidencia
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/pacienti">Pacienti</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/lekari">Lekári</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/sestry">Sestry</NavLink></li>
                    </ul>
                </li>

                <!-- ZÁZNAMY -->
                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Záznamy
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/prijmy">Príjmy</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/vysetrenia">Vyšetrenia</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/operacie">Operácie</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/predpisy">Predpisy</NavLink></li>
                    </ul>
                </li>

                <!-- ČÍSELNÍKY -->
                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
                        Číselníky
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/diagnozy">Diagnózy</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/lieky">Lieky</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/oddelenia">Oddelenia</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/izby">Izby</NavLink></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>
