<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>NIS</title>
    <link rel="icon" type="image/svg+xml" href="nis-favicon.svg" />
    <link rel="apple-touch-icon" href="/img/nis-icon.png" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="NIS.styles.css" />
    <link rel="stylesheet" href="app.css" />
    <link href="css/nis-theme.css" rel="stylesheet" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
<script>
    window.downloadFile = (fileName, contentType, base64Data) => {
        const link = document.createElement('a');
        link.download = fileName;
        link.href = `data:${contentType};base64,${base64Data}`;
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    };
</script>
