@using Microsoft.AspNetCore.Components.Routing

<nav class="navbar navbar-expand-lg app-navbar nis-topbar">
    <div class="container container-nis">
        <NavLink class="navbar-brand nis-brand" href="/" Match="NavLinkMatch.All">
            <span class="nis-logo">N</span>
            <span class="nis-brand-text">NIS</span>
        </NavLink>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nisNav"
                aria-controls="nisNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="nisNav">
            <ul class="navbar-nav me-auto app-tabs">

                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-archive-fill me-2"></span> Evidencia
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/pacienti">Pacienti</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/lekari">Lekári</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/sestry">Sestry</NavLink></li>
                    </ul>
                </li>

                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-journal-medical me-2"></span> Záznamy
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/prijmy">Príjmy</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/vysetrenia">Vyšetrenia</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/operacie">Operácie</NavLink></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><NavLink class="dropdown-item" href="/predpisy">Predpisy</NavLink></li>
                    </ul>
                </li>

                <li class="nav-item dropdown nis-dd">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="bi bi-list-check me-2"></span> Číselníky
                    </a>
                    <ul class="dropdown-menu nis-dd-menu">
                        <li><NavLink class="dropdown-item" href="/oddelenia">Oddelenia</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/izby">Izby</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/diagnozy">Diagnózy</NavLink></li>
                        <li><NavLink class="dropdown-item" href="/lieky">Lieky</NavLink></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <NavLink class="nav-link" href="/about">
                        <span class="bi bi-info-circle me-2"></span> About
                    </NavLink>
                </li>
            </ul>

            @* Oracle XE badge preč *@
        </div>
    </div>
</nav>
