<div class="nis-topbar">
    <div class="container-fluid py-2">
        <div class="d-flex align-items-center flex-wrap gap-2">
            <a class="nis-brand me-2" href="">
                <span class="nis-logo">N</span>
                <span>NIS</span>
                <span class="nis-muted d-none d-md-inline">nemocnicny informacny system</span>
            </a>

            <div class="ms-auto"></div>
        </div>

        <div class="mt-2">
            <ul class="nav nav-pills nis-tabs flex-wrap">
                <li class="nav-item"><NavLink class="nav-link" href="" Match="NavLinkMatch.All">Dashboard</NavLink></li>

                <li class="nav-item"><NavLink class="nav-link" href="pacienti">Pacienti</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="osobne-udaje">Osobne udaje</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="lekari">Lekari</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="sestry">Sestry</NavLink></li>

                <li class="nav-item"><NavLink class="nav-link" href="prijmy">Prijmy</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="vysetrenia">Vysetrenia</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="operacie">Operacie</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="predpisy">Predpisy</NavLink></li>

                <li class="nav-item"><NavLink class="nav-link" href="oddelenia">Oddelenia</NavLink></li>
                <li class="nav-item"><NavLink class="nav-link" href="izby">Izby</NavLink></li>

                <li class="nav-item"><NavLink class="nav-link" href="lieky">Lieky</NavLink></li>

                <li class="nav-item"><NavLink class="nav-link" href="about">About</NavLink></li>
            </ul>
        </div>
    </div>
</div>
